<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventStore" type="EventEngine.Spike.EventStore.Host.Configuration.EventStoreServiceConfiguration, EventEngine.Spike.EventStore.Host" />
  </configSections>

  <eventStore restartDelayMs="20000" restartWindowMs="15000">
    <nodes>
      <node name="node1" httpPrefix="http://mynode.net:1114/" intTcpPort="1111" intHttpPort="1112" extTcpPort="1113" extHttpPort="1114" dbPath="node1-db" logPath="node1-log" />
      <node name="node2" httpPrefix="http://mynode.net:2114/" intTcpPort="2111" intHttpPort="2112" extTcpPort="2113" extHttpPort="2114" dbPath="node2-db" logPath="node2-log" />
      <node name="node3" httpPrefix="http://mynode.net:3114/" intTcpPort="3111" intHttpPort="3112" extTcpPort="3113" extHttpPort="3114" dbPath="node3-db" logPath="node3-log" />
    </nodes>
  </eventStore>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>