<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventStore" type="Slicedbread.EventStore.ClusterHost.Configuration.EventStoreServiceConfiguration, Slicedbread.EventStore.ClusterHost" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

	<eventStore restartDelayMs="20000" restartWindowMs="15000" additionalFlags="--run-projections=ALL">
		<internalNodes>

			<node name="node1" internalIpAddress="127.0.0.1" externalIpAddress="127.0.0.1" 
			      intTcpPort="5301" intHttpPort="5302" extTcpPort="5303" extHttpPort="5400"
			      httpPrefix="http://localhost:5400/" 
			      dbPath="node1-db" logPath="node1-log" additionalFlags="--gossip-on-single-node"/>

			
      <!--<node name="node2" internalIpAddress="127.0.0.1" externalIpAddress="127.0.0.1" 
            intTcpPort="5311" intHttpPort="5312" extTcpPort="5313" extHttpPort="5410" 
            httpPrefix="http://localhost:5410/" 
            dbPath="node2-db" logPath="node2-log" additionalFlags=""/>
      
      <node name="node3" internalIpAddress="127.0.0.1" externalIpAddress="127.0.0.1" 
            intTcpPort="5321" intHttpPort="5322" extTcpPort="5323" extHttpPort="5420"
            httpPrefix="http://localhost:5420/"
            dbPath="node3-db" logPath="node3-log" additionalFlags=""/>-->
      
		</internalNodes>

		<externalNodes/>
	</eventStore>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="Slicedbread.EventStore.ClusterHost.log" deleteOldFileOnStartup="true"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>